<div class="category-form-container">
  <h2>Ajouter une nouvelle Catégorie</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nom de la catégorie *</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        placeholder="Ex: Informatique, Roman, Histoire...">

      @if (categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched) {
        <small class="error-text">Le nom de la catégorie est obligatoire.</small>
      }
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        rows="4"
        placeholder="Décrivez brièvement le type d'ouvrages regroupés dans cette catégorie..."></textarea>
    </div>

    <div class="form-actions">
      <button type="button" class="btn-secondary" routerLink="/categories">Annuler</button>
      <button type="submit" class="btn-primary" [disabled]="categoryForm.invalid">Enregistrer</button>
    </div>

  </form>
</div>
